<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/teacher">Teacher</a><br>
    <a href="/subject">Subject</a><br>


  </body>
</html>
